%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%text-shadow{
    text-shadow: 1px 3px 11px rgb(0 0 0 / 55%);
}

%first-font{
    font-family: 'Poppins', sans-serif;
}

%second-font{
    font-family: 'Roboto Mono', monospace;
}

%header-Link-Before{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8rem;
    opacity: 0.5;
}