@import './_variables';
@import './_placeholders';

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 10px;
}
html{
        scroll-behavior: smooth;

}

body{
    background-color: $first-color ;   
}

body::-webkit-scrollbar {
    width: 0px;
}

header{
    background: linear-gradient(180deg,#00000012 50%,$first-color 100%),
    url(../images/background.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
 
    


     .background{

        background-color: rgba(25, 28, 41, 0.8); /* Ajoute une couleur de fond semi-transparente */
        
        backdrop-filter:  blur(20px); /* Ajoute un flou à l'arrière-plan */    /* backdrop-filter: saturate(180%) blur(20px); */
        -webkit-backdrop-filter:  blur(20px); /* Ajoute un flou à l'arrière-plan */    /* backdrop-filter: saturate(180%) blur(20px); */

        width: 100%;
    z-index: 454;
    height: 100px;
    top: 0;
    

    }
    .nav-head{
        position: absolute;
        width: 100vw;
        top: 0;
        z-index: 546645645654645465;
    @extend %flex-center;
        padding-top: 25px;

        .toggle{
            display: none;
        }

        ul{
            display: flex;
            gap: 55px;
        }

        li{
            position: relative;
            
            display: flex;
            align-items: center;
        }
    
        a{
            @extend %first-font;
            @extend %text-shadow;

            color: rgb(255, 255, 255);
            transition: ease .30s;
            font-size: 1.8rem;
        }


        span{
            margin-right: 10px;
            font-size: 1.6rem;
            line-height: 60px;
        }

        li:nth-child(1) a::before{
            content: "01" ;
            @extend %header-Link-Before
        }

        li:nth-child(2) a::before{
            content: "02" ;
            @extend %header-Link-Before
        }

        li:nth-child(3) a::before{
            content: "03" ;
            @extend %header-Link-Before;
        }

        li:nth-child(4) a::before{
            content: "04" ;
            @extend %header-Link-Before;
        }



    }

    
   

    .text{
        

        p:nth-child(1){
            font-size: 10vw;
            text-transform: uppercase;
            letter-spacing: 10px;
            color: white;
            text-align: center;
            @extend %first-font;
            @extend %text-shadow;
        }

        p:nth-child(2){
            font-size: 1vw;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            color: white;

            @extend %second-font;
            @extend %text-shadow;
        }

        span{
            color : $second-color;
            font-size: 1vw;
            @extend %text-shadow;
        }
    }


.container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    
    
   
   }
   
   .chevron {
     position: absolute;
     width: $base * 3.5;
     height: $base * 0.8;
     opacity: 0;
     transform: scale(0.3);
     animation: move-chevron 3s ease-out infinite;

   }
   
   .chevron:first-child {
     animation: move-chevron 3s ease-out 1s infinite;
   }
   
   .chevron:nth-child(2) {
     animation: move-chevron 3s ease-out 2s infinite;
   }
   
   .chevron:before,
   .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: $second-color;
   }
   
   .chevron:before {
    left: 0;
    transform: skewY(30deg);
   }
   
   .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
   }
   
   @keyframes move-chevron {
    25% {
     opacity: 1;
       }
    33.3% {
     opacity: 1;
     transform: translateY($base * 3.8);
    }
    66.6% {
     opacity: 1;
     transform: translateY($base * 5.2);
    }
    100% {
     opacity: 0;
     transform: translateY($base * 8) scale(0.5);
    }
   }

}

main{
    max-width: 1400px;
    margin: 0 auto;

    section:nth-child(1){
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 500px;
        padding: 110px 10px 0 ;

        .title{
            display: flex;
            margin-bottom: 50px;
            
            h2{
                color: white;
                @extend %first-font;
                text-transform: uppercase;
                font-size: 6rem;
                position: relative;
                @extend %text-shadow;
                white-space: nowrap; /* empêche le texte de passer à la ligne */
            }

            h2::after{
                transition: all 0.1s ease-in-out;
                content: "";
                position: absolute;
                bottom: 13.5%;
                z-index: -1;
                height: 0.3em;
                width: 102%;
                left: -1%;
                background: linear-gradient(180deg,#2C49D8   100%,#f3f3f3 100%, rgba(255, 209, 0, 0) 100%);
            }   
        }

        .text{
            border: 5px solid rgba(255, 255, 255, 0.146);
            position: relative;
            padding: 50px;
            display: flex;
            justify-content: center;

            p{
                color: white;
                font-size: 2.1rem;
                @extend %second-font;
                line-height: 50px;

                span{
                    font-size: 2.1rem;
                    color: $second-color;
                    text-transform: uppercase;
                }
            }
        
            img{
                position: absolute;
                top: 300px;
                width: 50%;
                opacity: 0.3;
            }   
        }   
    }

    section:nth-child(2){
        padding: 110px 10px 0;
        margin-bottom: 200px;

        .title{
            display: flex;
            margin-bottom: 50px;

            h3{
                color: white;
                @extend %first-font;
                text-transform: uppercase;
                font-size: 6rem;
                position: relative;
                @extend %text-shadow;
                white-space: nowrap; /* empêche le texte de passer à la ligne */
            }

            h3::after{
                transition: all 0.1s ease-in-out;
                content: "";
                position: absolute;
                bottom: 13.5%;
                z-index: -1;
                height: 0.3em;
                width: 102%;
                left: -1%;
                background: linear-gradient(180deg,#d87f2c   100%,#f3f3f3 100%, rgba(255, 209, 0, 0) 100%);
            }   
        }

        ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(auto, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            li{
                border-radius: 15px;
                height: 500px;
                border-radius: 10px;
                overflow: hidden;
                position: relative;

                a{
                    .img-wrapper{
                        height: 90%;
                        width: 100%;
                        position: relative;
                        background: rgb(230,218,212);
                        background: linear-gradient(80deg, rgba(230,218,212,1) 0%, rgba(246,240,232,1) 100%);
                    }

                    img{
                        width: 100%;
                        height: 85%;
                        object-fit: contain;
                        transition: 0.15s;
                        position: absolute;
                    }

                    .text-wrapper{
                        position: absolute;
                        opacity: 1;
                        bottom: 0;
                        z-index: 12;
                        background-color: #1c1f2d;
                        height: 120px;
                        width: 100%;
                        padding: 20px;
                        
                        p,span{
                            color: white;
                            font-size: 1.5rem;
                            @extend %second-font;
                            transition: transform 0.5s, opacity 0.5s;                          
                        }

                        .p-title{
                            @extend %first-font;
                            margin-bottom: 15px;
                            font-size: 2rem;
                        }

                        span{
                            border: 1px solid white;
                            padding: 5px 10px;
                            border-radius: 5px ;
                        }
                    } 
                }    
            }      

            .p2{
                opacity: 0.5;
            }

            .p3{
                margin-top: -10px;
                position: absolute;
                transform: translateY(23px);
                opacity: 0;
            }

            .p3::after{
                position: absolute;
                content: "";
                transform: translateY(23px);
                opacity: 0.5;
                width: 55px;
                height: 2px;
                background-color: rgb(255, 255, 255);
                top: -35%;
                right: -65px;
            }
                                
            li:hover .p2 {
                transform: translateY(-23px);
                opacity: 0;
            }

            li:hover .p3 {
                transform: translateY(-23px);
                opacity: 0.5;
            }
                        
            li:nth-child(4){ 
                grid-area: 2 / 1 / 4 / 3;
                height: 100%;
                img{
                    height: 90%;
                }
            }
                
            li:hover img{
                transform: scale(1.2);
            }
        }
    }  
}

footer{
    padding: 100px 0 0 0 ;
    height: 100%;
        
        .title{
            display: flex;
            margin-bottom: 100px;
            max-width: 1400px;
            margin: 0 auto 100px;
            padding-left: 10px;

            h3{
                color: white;
                @extend %first-font;
                text-transform: uppercase;
                font-size: 6rem;
                position: relative;
                @extend %text-shadow;
                white-space: nowrap; /* empêche le texte de passer à la ligne */
            }

            h3::after{
                transition: all 0.1s ease-in-out;
                content: "";
                position: absolute;
                bottom: 13.5%;
                z-index: -1;
                height: 0.3em;
                width: 102%;
                left: -1%;
                background: linear-gradient(180deg,#ff006f   100%,#f3f3f3 100%, rgba(255, 209, 0, 0) 100%);
            }   
        }

        div:nth-child(2){
            height: 670px;

        }

        .container{
            width: 100%;
            display: flex;
                
            .left{
                background-color: rgba(0, 0, 0, 0.257);
                width: 50%;

                display: flex;
                justify-content: center;
                align-items: center;

                .left-container{
                    width: 70%;

                p:nth-child(1){
                    @extend %first-font;
                    font-size: 1.6vw;
                    color: white;
                    margin-bottom: 50px;
                }

                p:nth-child(2){
                    @extend %second-font;
                    font-size: 2rem;
                    color: white;
                    margin-bottom: 80px;
                
                    span{
                        @extend %second-font;
                        font-size: 2rem;
                        color: $second-color;
                    }
                }

                    nav{
                        ul{
                            li{
                                margin-bottom: 10px;
                                a{
                                    @extend %second-font;
                                    font-size: 2rem;
                                    color: white;
                                }
                            }
                            li:first-child{
                                margin-bottom: 30px;
                                a{
                                    position: relative;
                                    font-size: 1.5vw;
                                }

                                a::before{  
                                    transition: all 0.1s ease-in-out;
                                    content: "";
                                    position: absolute;
                                    bottom: 13.5%;
                                    z-index: -1;
                                    height: 0.3em;
                                    width: 102%;
                                    left: -1%;
                                    background: linear-gradient(180deg,#ff006f   100%,#f3f3f3 100%, rgba(255, 209, 0, 0) 100%);
                                }

                                a:hover::before{
                                    transition: all 0.1s ease-in-out;
                                    content: "";
                                    position: absolute;
                                    bottom: 13.5%;
                                    z-index: -1;
                                    height: 80%;
                                    width: 102%;
                                    left: -1%;
                                }
                            }
                        }                   
                    }
                }
            }

        .right{
            width: 50%;

            img{
                object-fit: cover;
                width: 100%;
                height: 670px;
                opacity: 0.5;
            }
        }
    }
}    
    
@media screen and  (max-width: 1024px) {
    header{
        .text{
            
    
            p:nth-child(2){
                padding: 0 200px;
                font-size: 1.5vw;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 2px;
                color: white;
    
                @extend %second-font;
                @extend %text-shadow;
            }
    
            span{
                color : $second-color;
                font-size: 1.5vw;
                @extend %text-shadow;
            }
        }

    }

    main{
        padding: 0 20px;

        section:nth-child(1){

            .text{
                border: 5px solid rgba(255, 255, 255, 0.146);
                position: relative;
                padding: 50px;
                display: flex;
                justify-content: center;

                p{
                    color: white;
                    font-size: 2rem;
                    line-height: 35px;

                    span{
                        font-size: 2rem;
                        text-transform: uppercase;
                    }
                }
            
                img{
                    top: 300px;
                    width: 70%;
                    left: 20%;
                }   
            }   
            
  
        }

        section:nth-child(2){

            ul{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                li:nth-child(4){ 
                    grid-area: 2 / 1 / 3 / 3;
                    height: 100%;
                    img{
                        object-fit: contain;
                        padding: 10px;
                    }
                }
            }
        }
    }

    #contact{
        .title{
            padding: 0 50px;
        }
        .left{
            p{
                font-size: 2rem;
            }
            ul{
                .email{
                    font-size: 2rem ;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {

    .opened{
        .nav-head{
            .toggle{
                .open{
                    display: none;
                }
                .close{
                    display: block;
                }
            }
            ul{
                transform: translateX(0);
            }
        }
    }

    header{
        .background{
            display: none;
        }
        .nav-head{
            justify-content: end;
            padding: 25px;
            .toggle{
                display: block;
                position: relative;
                z-index: 1;
                cursor: pointer;
                .open{
                    font-size: 4rem;
                    color: white;
                }
                .close{
                    font-size: 4rem;
                    display: none;
                    color: white;
                }
            }
            ul{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.8) ;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                flex-direction: column;
                transform: translateY(-100%);
                transition: 0.2s;
                li{
                    text-transform: uppercase;
                    span{
                        display: none;
                    }
                    a::before{
                        display: none;
                    }
                }
            }
        }
        .text{
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 10px;
                p:nth-child(1){
                    
                    text-transform: uppercase;
                    letter-spacing: 8px;
                    margin-bottom: 50px;
                    
                }
        
                p:nth-child(2){
                    padding: 0 20px;
                    font-size: 2vw;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 2px;
                    color: white;
                }
        
                span{
                    color : $second-color;
                    font-size: 2vw;
                }
            }
        }
    }

    main{
        section:nth-child(1){  
            align-items: center;
            padding: 50px 0 0 0 ;
            margin-bottom: 300px;
             
            .title{
                h2{
                    font-size: 3rem;

                }
            }

                .text{
                  
    
                    p{
                        font-size: 2vw;
                        line-height: 30px;
    
                        span{
                            font-size: 2vw;
                            text-transform: uppercase;
                        }
                    }
                
                    img{
                        top: 260px;
                        width: 70%;
                        left: 20%;
                    }   
                }   
                
      
            
              
        }
        section:nth-child(2){
         
            padding: 50px 25px 0 ;
            .title{
                justify-content: center;
                h3{
                    font-size: 3rem;
                }
            }
            
            ul{
           
                grid-template-columns: (1fr);
                grid-template-rows: repeat(6, 1fr);

         
            li:nth-child(4){
             grid-area: 4 / 1 / 5 / 2;
            }

            .p3{
                display: none;
            }

            li:hover .p2 {
                transform: translateY(0);
                opacity: 0.5;
            }
    

            
        }
        }
    
    }

    footer{

        .title{
            justify-content: center;
            h3{
                font-size: 3rem;
            }
        }

        .container{
            flex-direction: column;
            .left{
                padding: 100px 0 ;
                width: 100%;

            }
            .right{
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: 500px) {
    header{
        .text{
            div{
                p:nth-child(2){
                    padding: 0 10px;
                }
            }
        }
    }
    main{
        padding: 0 10px;
        section:nth-child(1){  
            align-items: center;
            padding: 50px 0 0 0 ;
            margin-bottom: 300px;
             
            .title{
                h2{
                    font-size: 3rem;

                }
            }

                .text{
                    padding: 10px;
                  
    
                    p{
                        font-size: 1rem;
                        line-height: 2rem;
    
                        span{
                            font-size: 1rem;
                            text-transform: uppercase;
                        }
                    }
                
                    img{
                        top: 260px;
                        width: 70%;
                        left: 20%;
                    }   
                }   
                
      
            
              
        }
    }
}