
@import './_variables';
@import './_placeholders';

@media screen and (max-width: 768px) {


    .opened{
        .nav-head{
            .toggle{
                .open{
                    display: none;
                }
                .close{
                    display: block;
                }
            }
            ul{
                transform: translateX(0);
            }
        }
    }

    header{
        .background{
            display: none;
        }
        .nav-head{
            justify-content: end;
            padding: 25px;
            .toggle{
                display: block;
                position: relative;
                z-index: 1;
                cursor: pointer;
                .open{
                    font-size: 4rem;
                    color: white;
                }
                .close{
                    font-size: 4rem;
                    display: none;
                    color: white;
                }
            }
            ul{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.8) ;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                flex-direction: column;
                transform: translateY(-100%);
                transition: 0.2s;
                li{
                    text-transform: uppercase;
                    span{
                        display: none;
                    }
                    a::before{
                        display: none;
                    }
                }
            }
        }
        .text{
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 10px;
                p:nth-child(1){
                    
                    text-transform: uppercase;
                    letter-spacing: 8px;
                    margin-bottom: 50px;
                    
                }
        
                p:nth-child(2){
                    padding: 0 20px;
                    font-size: 2vw;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 2px;
                    color: white;
                }
        
                span{
                    color : $second-color;
                    font-size: 2vw;
                }
            }
        }
    }

  main{
    section{
         .title{
             h1{
                 font-size: 3rem;
            }
        }
        }
    }   

    footer{

        .title{
            h2{
                font-size: 3rem;
            }
        }

        .container{
            flex-direction: column;
            .left{
                padding: 100px 0 ;
                width: 100%;

            }
            .right{
                width: 100%;
            }
        }
    }
}


