@charset "UTF-8";
header .text, header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .title h3, main section:nth-child(2) .title h3, main section:nth-child(1) .title h2, header .text span, header .text p:nth-child(2), header .text p:nth-child(1), header nav a {
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.55);
}

footer .container .left .left-container p:nth-child(1), footer .title h3, main section:nth-child(2) .title h3, main section:nth-child(1) .title h2, header .text p:nth-child(1), header nav a {
  font-family: "Poppins", sans-serif;
}

footer .container .left .left-container nav ul li a, footer .container .left .left-container p:nth-child(2) span, footer .container .left .left-container p:nth-child(2), main section:nth-child(2) ul li a .text-wrapper p, main section:nth-child(1) .text p, header .text p:nth-child(2) {
  font-family: "Roboto Mono", monospace;
}

header nav li:nth-child(4) a::before, header nav li:nth-child(3) a::before, header nav li:nth-child(2) a::before, header nav li:nth-child(1) a::before {
  position: absolute;
  right: 0;
  font-size: 1.25rem;
  opacity: 0.5;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: #1A1D2A;
}

body::-webkit-scrollbar {
  width: 0px;
}

header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0705882353) 50%, #1A1D2A 100%), url(../images/fond.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
header nav {
  position: absolute;
  width: 100vw;
  height: 150px;
}
header nav ul {
  display: flex;
  gap: 55px;
}
header nav li {
  position: relative;
  display: flex;
  align-items: center;
}
header nav a {
  color: rgb(255, 255, 255);
  transition: ease 0.3s;
  font-size: 1.8rem;
}
header nav span {
  margin-right: 10px;
  font-size: 1.6rem;
  line-height: 60px;
}
header nav li:nth-child(1) a::before {
  content: "01";
}
header nav li:nth-child(2) a::before {
  content: "02";
}
header nav li:nth-child(3) a::before {
  content: "03";
}
header nav li:nth-child(4) a::before {
  content: "04";
}
header .background {
  background: rgba(26, 26, 26, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  /* backdrop-filter: saturate(180%) blur(20px); */
  content: "";
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 454545454;
}
header .text {
  height: 90%;
  flex-direction: column;
}
header .text p:nth-child(1) {
  font-size: 10vw;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
}
header .text p:nth-child(2) {
  font-size: 1.2vw;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: white;
}
header .text span {
  color: #64ffda;
  font-size: 1.2vw;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}
main section:nth-child(1) {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90vh;
  margin-bottom: 200px;
  padding: 110px 10px 0;
}
main section:nth-child(1) .title {
  display: flex;
  margin-bottom: 50px;
}
main section:nth-child(1) .title h2 {
  color: white;
  text-transform: uppercase;
  font-size: 7rem;
  position: relative;
  white-space: nowrap; /* empêche le texte de passer à la ligne */
}
main section:nth-child(1) .title h2::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 102%;
  left: -1%;
  background: linear-gradient(180deg, #2C49D8 100%, #f3f3f3 100%, rgba(255, 209, 0, 0) 100%);
}
main section:nth-child(1) .text {
  border: 5px solid rgba(255, 255, 255, 0.146);
  position: relative;
  padding: 50px 50px 50px 100px;
}
main section:nth-child(1) .text p {
  color: white;
  font-size: 2.1rem;
  line-height: 50px;
}
main section:nth-child(1) .text p span {
  font-size: 2.1rem;
  color: #64ffda;
  text-transform: uppercase;
}
main section:nth-child(1) .text p::before {
  content: "<p>";
  position: absolute;
  opacity: 0.5;
  top: 35px;
  left: 42px;
  font-size: 2rem;
  opacity: 0.2;
}
main section:nth-child(1) .text p::after {
  content: "</p>";
  position: absolute;
  opacity: 0.5;
  bottom: 35px;
  left: 42px;
  font-size: 2rem;
  opacity: 0.2;
}
main section:nth-child(1) .text hr {
  position: absolute;
  width: 2px;
  height: 50%;
  left: 52px;
  bottom: 25%;
  opacity: 0.1;
}
main section:nth-child(1) img {
  display: block;
  position: absolute;
  left: 26%;
  top: 75%;
  width: 50%;
  opacity: 0.2;
}
main section:nth-child(2) {
  padding: 110px 10px 0;
  margin-bottom: 200px;
}
main section:nth-child(2) .title {
  display: flex;
  margin-bottom: 50px;
}
main section:nth-child(2) .title h3 {
  color: white;
  text-transform: uppercase;
  font-size: 7rem;
  position: relative;
  white-space: nowrap; /* empêche le texte de passer à la ligne */
}
main section:nth-child(2) .title h3::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 102%;
  left: -1%;
  background: linear-gradient(180deg, #d87f2c 100%, #f3f3f3 100%, rgba(255, 209, 0, 0) 100%);
}
main section:nth-child(2) ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
main section:nth-child(2) ul li {
  position: relative;
  border-radius: 15px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
main section:nth-child(2) ul li a {
  display: flex;
}
main section:nth-child(2) ul li a .img-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
main section:nth-child(2) ul li a .img-wrapper img {
  position: absolute;
  object-fit: cover;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.15s;
}
main section:nth-child(2) ul li a .text-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 12;
  background-color: #1c1f2d;
  height: 120px;
  width: 100%;
  padding: 20px;
}
main section:nth-child(2) ul li a .text-wrapper p {
  color: white;
  font-size: 2rem;
  transition: transform 0.5s, opacity 0.5s;
}
main section:nth-child(2) ul .p2 {
  opacity: 0.5;
}
main section:nth-child(2) ul .p3 {
  position: absolute;
  transform: translateY(23px);
  opacity: 0;
}
main section:nth-child(2) ul .p3::after {
  position: absolute;
  content: "";
  transform: translateY(23px);
  opacity: 1;
  width: 50px;
  height: 2px;
  background-color: red;
  top: -35%;
  right: -65px;
}
main section:nth-child(2) ul li:hover .p2 {
  transform: translateY(-23px);
  opacity: 0;
}
main section:nth-child(2) ul li:hover .p3 {
  transform: translateY(-23px);
  opacity: 0.5;
}
main section:nth-child(2) ul li:nth-child(4) {
  grid-area: 2/1/4/3;
  height: 100%;
}
main section:nth-child(2) ul li:nth-child(8) {
  grid-area: 4/2/5/4;
}
main section:nth-child(2) ul li:hover img {
  transform: scale(1.2);
}
@media (max-width: 1024px) {
  main section:nth-child(2) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  main section:nth-child(2) ul li:nth-child(8) {
    grid-area: 5/1/6/3;
  }
}

footer {
  padding: 100px 0 0 0;
  height: 100%;
}
footer .title {
  display: flex;
  margin-bottom: 100px;
  margin-left: 10%;
}
footer .title h3 {
  color: white;
  text-transform: uppercase;
  font-size: 7rem;
  position: relative;
  white-space: nowrap; /* empêche le texte de passer à la ligne */
}
footer .title h3::after {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 102%;
  left: -1%;
  background: linear-gradient(180deg, #ff006f 100%, #f3f3f3 100%, rgba(255, 209, 0, 0) 100%);
}
footer div:nth-child(2) {
  height: 670px;
}
footer .container {
  width: 100%;
}
footer .container .left {
  background-color: rgba(0, 0, 0, 0.257);
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .left .left-container {
  width: 70%;
}
footer .container .left .left-container p:nth-child(1) {
  font-size: 1.6vw;
  color: white;
  margin-bottom: 50px;
}
footer .container .left .left-container p:nth-child(2) {
  font-size: 2rem;
  color: white;
  margin-bottom: 80px;
}
footer .container .left .left-container p:nth-child(2) span {
  font-size: 2rem;
  color: #64ffda;
}
footer .container .left .left-container nav ul li {
  margin-bottom: 10px;
}
footer .container .left .left-container nav ul li a {
  font-size: 2rem;
  color: white;
}
footer .container .left .left-container nav ul li:first-child {
  margin-bottom: 30px;
}
footer .container .left .left-container nav ul li:first-child a {
  position: relative;
  font-size: 3.5rem;
}
footer .container .left .left-container nav ul li:first-child a::before {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 0.3em;
  width: 102%;
  left: -1%;
  background: linear-gradient(180deg, #ff006f 100%, #f3f3f3 100%, rgba(255, 209, 0, 0) 100%);
}
footer .container .left .left-container nav ul li:first-child a:hover::before {
  transition: all 0.1s ease-in-out;
  content: "";
  position: absolute;
  bottom: 13.5%;
  z-index: -1;
  height: 80%;
  width: 102%;
  left: -1%;
}
footer .container .right {
  width: 50%;
  float: right;
}
footer .container .right img {
  object-fit: cover;
  width: 100%;
  height: 670px;
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
