*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    font-family: 'Inter', sans-serif;
}
body{
    background: url(images/wp7607760-minimalist-dark-4k-wallpapers.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

}


/**/
main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 100vh;

}

#left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left div{
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 30px;

}

h1{
    position: relative;
    font-size: 48px;
    color: rgb(226 232 240);
    width: max-content;
    font-weight: 700;
}
#left p{
    position: relative;
    color: rgb(226 232 240);
    font-size: 20px;
    font-weight: 500;
    width: max-content;
    padding-left: 10px;
}
h1::after {
    content: ""; 
    background-color: white; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    z-index: 1; 
    animation: reduction 0.65s cubic-bezier(.694,.048,.335,1);

}
/**/
#left p::after {
    content: ""; 
    background-color: white; 
    position: absolute; 
    top: 0;
    left: 0; 
    height: 100%; 
    z-index: 1; 
    animation: reduction 1s cubic-bezier(.694,.048,.335,1); 
}

@keyframes reduction {
    0% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

    #left ul{
        height: 100%;
        display: flex;
        gap: 20px;
        position: relative;
        width: max-content;
    }
    #left ul::after{
        content: ""; 
        background-color: white;
        position: absolute;
        z-index: 1; 
        animation: reduction 1.35s cubic-bezier(.694,.048,.335,1);
    }



            #left svg{
                width: 25px;    
                fill: #94A2B8;
                height: auto;
            }

            #left svg:hover{
                fill: rgb(255, 255, 255);
            }



#right{
    width: 40vw;
}

    #right ul{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    #right ul li{
        margin-bottom: 100px;
        position: relative;
    }

        #right ul li a{
            display: block;
            width: 400px ;
        }

            #right img{
                width: 100%;
                transition: 1s;
                box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
            }
            #right img:hover{
                width: 100%;
                box-shadow: none;
            }
li div{
    position: absolute;
    color: rgb(94 234 212);
    font-size: 12px;
    font-weight: 500;
    
bottom: 5px;
z-index: -1;
transition: 1s;
display: flex;
gap: 10px;
}

span{
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    background-color: rgba(45, 212, 190, 0.18);

}

#right li:hover div{
    bottom: -35px;
}

@media only screen and (max-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: relative;
        height: 100%;
    
    }


#left div{
    display: flex;
    flex-direction: column;
    align-items: center;
position:static;    gap: 30px;

}
    
#right{
    width: 100vw;
}
#left{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right ul li a{
    width: 80% ;
}
#right ul li{

    display: flex;
    justify-content: center;
}


  }